/.ecs export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.vscode export-ignore
/demo export-ignore
/infection.json.dist export-ignore
/phpunit-coverage.xml export-ignore
/phpunit.xml export-ignore
/rector.php export-ignore
/sonar-project.properties export-ignore
/tests export-ignore
/phpstan.neon export-ignore
/chevere.svg export-ignore

*.php diff=php
